Django==1.11.26 # pyup: <2.0
pytz==2019.2
httplib2==0.14.0
feedparser==5.2.1
Markdown==2.6.11 # pyup: < 3
psycopg2==2.8.4
Pillow==6.2.1
versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
pyflakes==2.1.1
mccabe==0.6.1
enum34==1.1.6
configparser==4.0.2
pycodestyle==2.5.0
flake8==3.7.9
tornado==5.1.1 # pyup: <6.0
beautifulsoup4==4.8.1
cssselect==1.1.0
lxml==4.4.1
fuzzywuzzy==0.17.0
sure==1.4.11
ipdb==0.12.2
coverage==4.5.4
pyasn1==0.4.7
cryptography==2.8  # for PyOpenSSL
pyOpenSSL==19.0.0
ndg-httpsclient==0.5.1
logilab-common==1.4.3
logilab-astng==0.24.3
astroid==1.6.6 # pyup: <2.0.0
pylint==1.9.5 # pyup: <2.0.0
six==1.12.0
ldap3==2.6.1
sqlparse==0.3.0
python-dateutil==2.8.0

django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-annoying==0.10.5
django-appconf==1.0.3
django-bootstrap3==11.1.0
django-debug-toolbar==1.11 # pyup: <2.0
django-jenkins==0.110.0
# for django-extensions
typing==3.7.4.1; python_version < '3.5'
django-extensions==2.2.5

nameparser==1.0.4
httplib2==0.14.0
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==3.1.0
pylti==0.7.0

django-lti-provider==0.3.3
