Django>=2.2.13,<3
pytz==2021.1
httplib2==0.19.1
feedparser==6.0.2
Markdown==3.3.4
psycopg2==2.8.6
Pillow==8.2.0
versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
pyflakes==2.3.1
mccabe==0.6.1
configparser==5.0.2
flake8==3.9.2
pycodestyle==2.7.0
tornado==6.1
beautifulsoup4==4.9.3
cssselect==1.1.0
lxml==4.6.3
fuzzywuzzy==0.18.0
sure==1.4.11
ipdb==0.13.7
coverage==5.5
pyasn1==0.4.8
cryptography==3.4.7  # for PyOpenSSL
logilab-common==1.8.1
logilab-astng==0.24.3
astroid==2.5.6
pylint==2.8.2
six==1.16.0
sqlparse==0.4.1
ldap3==2.9
python-dateutil==2.8.1

django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-annoying==0.10.6
django-appconf==1.0.4
django-bootstrap3==15.0.0
django-debug-toolbar==3.2.1
django-jenkins==0.110.0
# for django-extensions
django-extensions==3.1.3

nameparser==1.0.6
httplib2==0.19.1
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==3.1.0
pylti==0.7.0

django-lti-provider==0.4.0
entrypoints==0.3

stevedore==3.3.0
pyyaml==5.4.1

pbr>=0.11
bandit==1.7.0
importlib_metadata==4.0.1
typing_extensions==3.10.0.0
zipp==3.4.1
