Django>=2.2.13,<3
pytz==2021.3
httplib2==0.20.2
feedparser==6.0.8
Markdown==3.3.6
psycopg2==2.9.3
Pillow==8.4.0
versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
pyflakes==2.4.0
mccabe==0.6.1
configparser==5.2.0
flake8==4.0.1
pycodestyle==2.8.0
tornado==6.1
beautifulsoup4==4.10.0
cssselect==1.1.0
lxml==4.7.1
fuzzywuzzy==0.18.0
sure==2.0.0
ipdb==0.13.9
coverage==6.2
pyasn1==0.4.8
cryptography==36.0.1  # for PyOpenSSL
logilab-common==1.8.2
logilab-astng==0.24.3
astroid==2.9.1
pylint==2.12.2
six==1.16.0
sqlparse==0.4.2
ldap3==2.9.1
python-dateutil==2.8.2

django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-annoying==0.10.6
django-appconf==1.0.5
django-bootstrap3==21.1
django-debug-toolbar==3.2.4
django-jenkins==0.110.0
# for django-extensions
django-extensions==3.1.5

nameparser==1.0.6
httplib2==0.20.2
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==3.1.1
pylti==0.7.0

django-lti-provider==0.4.7
entrypoints==0.3

stevedore==3.5.0
pyyaml==6.0

pbr>=0.11
bandit==1.7.1
importlib-metadata<4.11 # for flake8
typing_extensions==4.0.1
zipp==3.6.0

pyparsing==3.0.6
